$colorPpal: #B88BAD;
$colorAlt: #DBC4DF;
$color3: #FFF5FB;
$colorOpuesto: #F4E2D2;
$colorBlanco: #fff;
$fontStyles: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;