/* COLORES
#B88BAD
#DBC4DF
#FFF5FB
#F4E2D2
*/

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html 
{
    /* 62.5% of 16px base font size is 10px */
    font-size: 62.5%;
}

/* <<<<<< FORMATOS GENERALES >>>>>>> */
h1
{
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
}
h2
{
    font-size: 6rem;
    font-weight:400;
}
h3
{
    font-size: 2.3rem;
    font-weight: 600;
}
a
{
    text-decoration: none;
}
p
{
    font-size: 1.5rem;
}

a:link 
{
    color: orchid;
}

  /* visited link */
a:visited 
{
    color: rgb(248, 143, 245);
}
  /* mouse over link */
a:hover 
{
    color: rgb(211, 52, 131);
}

  /* selected link */
a:active 
{
    font-weight: bold;
}

body
{
    font-weight: 100;
}
/* considero que no es necesario usar GRID en este caso. Esta utilizado como parte de la consigna. */
/* .bodyIndex 
{
    display: grid;

    grid-template-rows: 12vh;
    grid-template-areas:
        "navegador"
        "banner"
        "archivo"
        "servicios"
        "planes"
        "footer";


} */

/* .banner
{
    grid-area: banner;
}

#usos
{
    grid-area: archivo;
}

.servicios
{
    grid-area: servicios;
}

/* <<<<< FORMATOS DE HEADER >>>>>>> */
header
{
    width: 100vw;
    margin: 0% 0%;
    padding: 1vh 0;
    background-color: rgba(255, 255, 255, 0.7);
    position: sticky;
    top: 0px;
    grid-area: navegador;
    display: flex;
    justify-content: right;
}

.navigation
{
    top: 1%;
    font-size: 0;
    display: flex;
    align-items: center; 
}

.navigation__logo 
{
    width: 8vw;
    margin: 1% 2vw;
}

.navigation__menu
{
    display: flex;
    list-style: none;
    width: 80vw;
    background-color: #B88BAD;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 4vw;
    flex-wrap: wrap;
}

.navigation__menu li
{
    list-style: none;
    padding: 0.2rem 0.6rem;
    font-size: 2rem;
}

.navigation__menu li:hover
{
/*     font-size: 14px; */
    background-color: #DBC4DF;
}

.navigation__submenu
{
    display: none;
    position: absolute;
    top: 100%
}

.navigation__menu li a
{
    text-decoration: none;
}

.navigation__menu li:hover ul
{
    display: block;
    background-color: #DBC4DF;
    padding: 2%;
}


.navigation__submenu li:hover
{
    font-weight: bold;
}

.navigation__submenu li
{
    background-color: #DBC4DF;
    padding: 3%;
}

header a:link 
{
    color: #fff;
}

  /* visited link */
header a:visited 
{
    color: #fff;
}
  /* mouse over link */
header a:hover 
{
    color: #fff;
}

  /* selected link */
header a:active 
{
    font-weight: bold;
}

/* <<<<<AQUI FORMATOS DE PORTADA>>>>>>> */
.banner
{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 4vw 0;
}

.banner__info
{
    width: 470px;
    align-items:flex-start;
} 

.banner__img
{
    width: 49vw;
    padding-right: 2vw;
} 

.banner__info h1
{
    display: flex;
    color: #fff;
    font-size: 6rem;
}

.titulo
{
    display: flex;
    flex-flow: column;
}

.titulo--1
{
    width: 35rem;
    padding-left: 4vw;
}

.titulo--2
{
    width: 40rem;
    padding-left: 4vw;
}

.titulo span
{
    margin-bottom: 2rem;
    background-color: #B88BAD;
    display: flex;
    justify-items: start;
}

.banner__info h2
{
    color: #B88BAD;
    padding-left: 4vw;
    font-size: 5rem;
    font-weight: lighter;
}



/* <<<<<<< FORMATOS USOS EN INDEX >>>>>>>>>>>>> */
#usos
{
    display: flex;
    justify-content: center;
    padding-top: 12vh;
/*     align-items: center; */
    justify-items: center;
}

#usos img
{
    width: 80vw;
}



/* <<<<<<< FORMATOS MAIN SERVICIOS EN INDEX >>>>>>>>>>>>> */
.servicios
{
/*     color: #B88BAD;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    flex-flow: row wrap;
    align-content:flex-start; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "servicio1 servicio2"
    "servicio3 servicio4";
    row-gap: 4vw;
    column-gap: 20vh;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    color: #B88BAD;
    padding: 12vh 15vw 0 15vw;
    text-align: center;
}


.servicios article img
{
    height: 80%;
    justify-self: center;
}
.servicios article
{
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: center;
/*     width: 30vw; */
/*    text-align: center;
    padding: 1rem; */
}

.servicios article h3
{
    display: inline-block;
/*     text-align: center; */
    align-self: center;
/*     font-weight: 400; */
    padding: .8rem;
    height: 7rem;
    width: 80%;
}

.servicios article p
{
    padding: .5em;
}

.servicios div
{
    height: 35%;
    margin-bottom: 2%;
}




/* <<<<<<< FORMATOS PLANES  >>>>>>>>>>>>> */

.tabla
{
    background-image: url(../images/fondo_ciencia.png);
    display: flex;
    justify-content: center;
    padding-top: 3vw;
}

#planes
{
/*     border-collapse: separate; */
    border-spacing: 8px;
    font-size: 3rem;
}
table#planes
{
    width: 900px;
}

.planes__titulo
{
    text-align: left;
    color: #B88BAD;
    padding-left: 3vw;
}

#planes h4
{
    font-size: 2.3rem;
    font-weight:bolder;
    background-color: #fff;    
}

#planes th
{
    padding: 1%;
    color: #B88BAD;
}

#planes td
{
    padding: 1%;
    background-color: #B88BAD;
    color: #fff;
    text-align: center;
    width: 20%;
}

#planes td.titulo__horizontal
{
    background-color: transparent;
    text-align: right;
    color: #B88BAD;
/*     width: 180px; */
}


/* <<<<<<< FORMATOS FOOTER  >>>>>>>>>>>>> */

footer
{
    background-color: #DBC4DF;
    color: #FFF5FB;
    display: flex;
    padding: 2vw 4vw;
    gap: 2vw;
    margin-top: 3%;
}

footer ul
{

    list-style: none;
    font-size: 2rem;
    width: 40vw;
    min-width: 230px;
}

footer li
{
    padding: 0.2rem;
    list-style: none;
}

footer a:link
{
    color: #F4E2D2;
}

footer a:visited 
{
    color: #fff;
}

footer .rrss__icons
{
    min-width: 40;
    
}

footer .rrss__icons img
{
    width: 50px;
    height: 50px;
    background-color: #F4E2D2;
}

/* <<<<<<<<<<<<<< PÃGINA CONOCEME >>>>>>>>>>>>>>> */

.infoPersonal
{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(1fr 4);
    grid-template-areas: 
        "titleExperiencia titleEducacion"
        "experiencia educacion"
        "experiencia titleConocimientos"
        "experiencia redes";
    justify-content: center;
    padding: 2vh 4vw;
    gap: 1vw;
}
.experienciaLaboral
{
    grid-area: experiencia;
    background-color: #B88BAD;
    padding: 1vw;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: 400px;
    color: #fff;
}

.experienciaLaboral__item
{
    padding: 5px;
    width: 45%;
    border-bottom:dashed 3px #DBC4DF;
}
.infoPersonal h3
{
    color: #B88BAD;
    font-size: 3.5rem;
    padding-left: 1vw;
    font-weight: bolder;
}
.infoPersonal h4
{
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.3rem;
}
.infoPersonal h5
{
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    font-weight: lighter;
}

.infoPersonal p
{
    font-size: 1.7rem;
    font-weight: lighter;
}

.titleExperiencia
{
    grid-area: titleExperiencia;
    align-items: baseline;
}
.titleEducacion
{
    grid-area: titleEducacion;
}
.titleConocimientos
{
    grid-area: titleConocimientos;
    align-items: baseline;
}

.plataformasIconos
{
    grid-area: redes;
    background-color: #B88BAD;
    padding: 1vw;
}
.plataformasIconos img
{
    width: 50px;
    height: 50px;
    background-color: #F4E2D2;
}

.educacion
{
    grid-area: educacion;
    background-color: #B88BAD;
    padding: 1vw;
    color: #fff;
}

.educacion__item
{
    border-bottom:dashed 3px #DBC4DF;
}

.educacion h4
{
    padding-bottom: 0.3rem;
}

/* .seccionVideo
{
    margin-top: 5%;
}
.seccionVideo h3
{
    color: #B88BAD;
    padding-bottom: 1rem;
}

.seccionVideo iframe
{
    width: ;
} */




/* ||||||||||||||| PAGINA CONTACTO ||||||||||||||||| */

.contact
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4vw 4vw;
    gap: 1vw;
/*     background-color: #B88BAD; */
}

.contactForm
{
    background-color: #fff;
    width: 350px;
    display: grid;
    grid-template-areas:
        "tagName inputName"
        "tagMail inputMail"
        "tagCountry inputCountry"
        "tagServices inputServices"
        "tagMessage inputMessage"
        "NONE buttonSend"
    ;

/*     padding: 1vw 0; */
    text-align: right;
    gap: 1vw;
}


.contactAdress
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    color: #B88BAD;
    background-color: #DBC4DF;
    width: 200px;
}
.contactAdress h4
{
    font-size: 1.7rem;
    padding-bottom: 1rem;
}
.contactAdress ul
{
    margin-bottom: 1%;
}
.contactAdress span
{
    padding-bottom: 0.2rem;
    color: #fff;
}
.contactAdress iframe
{
    width: 98%;
    height: calc(98% / 4 * 3);
}

.contactAdress .rrss__icons
{
    margin-bottom: 1vw;
    border-color: #fff;
}
.contactAdress .rrss__icons img
{
    width: 35px;
    height: 35px;
    border-color: #F4E2D2;
}
.contactForm input
{
    background-color: #DBC4DF;
    border: none;
    color: #fff;
    padding: 0.3vw;
}
.contactForm label
{
    font-size: 1.9vw;
    color: #B88BAD;
}
.contactForm select
{
    background-color: #DBC4DF;
    border: none;
    color: #fff;
    padding: 0.3vw;
}
.contactForm textarea
{
    background-color: #DBC4DF;
    border: none;
    color: #fff;
    padding: 0.3vw;
}
.contactForm fieldset
{
    border: none;
    color: #B88BAD;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
}
.contactForm fieldset span
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}
input.buttonSend
{
    grid-area: buttonSend;
    background-color: #B88BAD;
}

/* |||||||||||||| PAGINA PROYECTOS |||||||||||||||| */
.projects
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
/*     gap: 2vw; */
/*     justify-content: space-around; */
    margin: 2vw;
/*     justify-content: center; */
    justify-content: space-evenly;
    
    gap: 3vw;
}

.itemProject
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    color: #B88BAD;
    background-color: #DBC4DF;
    width: 200px;
    gap: 2vw;
}
.projects h4
{
    font-size: 1.7rem;
    padding-bottom: 1rem;
}
.projects ul
{
    margin-bottom: 1%;
}
.projects span
{
    padding-bottom: 0.2rem;
    color: #fff;
}
.projects iframe
{
    width: 98%;
    height: calc(98% / 4 * 3);
}

.projects .rrss__icons
{
    margin-bottom: 1vw;
    border-color: #fff;
}
.projects img
{
    width: 200px;
    height: 100px;
    background-color: #F4E2D2;
}
.projects .rrss__icons img
{
    width: 35px;
    height: 35px;
    border-color: #F4E2D2;
}

/* <<<<<<<<<<<<<<<<<<  MEDIA QUERYS >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media screen and (max-width: 1440px)
{
    .infoPersonal h3
    {
        color: #B88BAD;
        font-size: 3.5rem;
        padding-left: 1vw;
        font-weight: bolder;
    }

    .infoPersonal h4
    {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        margin-bottom: 0.3rem;
    }
    .infoPersonal h5
    {
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
        font-weight: lighter;
    }

    .infoPersonal p
    {
        font-size: 1.2rem;
        font-weight: lighter;
    }
}
@media screen and (max-width: 768px)
{
    .infoPersonal
    {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "titleExperiencia"
            "experiencia"
            "titleEducacion"
            "educacion"
            "titleConocimientos"
            "redes";
        justify-content: center;
        padding: 2vh 4vw;
        gap: 1vw;
    }
    .experienciaLaboral
    {
        height: 300;
    }
}


@media screen and (max-width: 1200px)
{
    .banner__info
    {
        width: 350px;
    } 
    .banner__info h1
    {
        font-size: 4.5rem;
        margin-bottom: 1vh;
    }
    .banner__info h2
    {
        font-size: 3.2rem;
    }
    .titulo--1
    {
        width: 27rem;
    }
    .titulo--2
    {
        width: 31rem;
    }
    .titulo span
    {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 900px)
{
    .navigation__menu li
    {
        padding: 0.2rem 0.6rem;
        font-size: 1.6rem;
    }
    .planes__titulo
    {
        font-size: 3rem;
        padding-left: 3vw;
    }
    #planes td
    {
        font-size: 2rem;
    }
    td.titulo__horizontal
    {
        width: 20%;
    }
    .servicios
    {
        column-gap: 8vw;
    }

}

/* ||||||||||||| MEDIDAS DE TABLET |||||||||||||| */
@media screen and (max-width: 768px)
{
    .navigation__logo 
    {
        width: 62px;
        margin: 1% 2vw;
    }
    .navigation__menu
    {
        width: 70vw;
    }
    .banner__info
    {
        width: 270px;
    } 
    .banner__info h1
    {
        font-size: 3.5rem;
        margin-bottom: 0.5vh;
    }
    .banner__info h2
    {
        font-size: 3.2rem;
    }
    .titulo--1
    {
        width: 21rem;
    }
    .titulo--2
    {
        width: 24rem;
    }
    .titulo span
    {
        margin-bottom: 1rem;
    }
    .menu__usos
    {
        display: none;
    }
    .menu_planes
    {
        display: none;
    }
}

/* @media screen and (max-width: 600px)
{
    .navigation__menu li
    {
        padding: 0.2rem 0.6rem;
        font-size: 1.6rem;
    }
    .planes__titulo
    {
        font-size: 2rem;
        padding-left: 3vw;
    }
    #planes td
    {
        font-size: 1rem;
    }
    td.titulo__horizontal
    {
        width: 20%;
    }
    #planes h4
    {
        font-size: 1.3rem;
    }
} */

@media screen and (max-width: 660px)
{
    .servicios
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "servicio1"
        "servicio2"
        "servicio3"
        "servicio4";
    }
    .infoPersonal
    {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "titleExperiencia"
            "experiencia"
            "titleEducacion"
            "educacion"
            "titleConocimientos"
            "redes";
        justify-content: center;
        padding: 2vh 4vw;
        gap: 1vw;
    }
    .experienciaLaboral
    {
        height: auto;
    }
    .experienciaLaboral__item
    {
        padding: 5px;
        width: 90%;
    }
}



@media screen and (max-width: 600px)
{
    .navigation__menu li
    {
        padding: 0.2rem 0.6rem;
        font-size: 1.6rem;
    }
    .banner
    {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 4vw 0;
    }

    .banner__info
    {
        width: 100vw;
        align-items:flex-start;
        margin: 8vw 0;
    } 

    .banner__img
    {
        width: 80vw;
        padding-right: 2vw;
    }
    .banner__info h1
    {
        font-size: 4.5rem;
        margin-bottom: 1vh;
    }
    .banner__info h2
    {
        font-size: 3.2rem;
    }
    .titulo--1
    {
        width: 27rem;
    }
    .titulo--2
    {
        width: 31rem;
    }
    .titulo span
    {
        margin-bottom: 1.5rem;
    }
    .planes__titulo
    {
        font-size: 2rem;
        padding-left: 3vw;
    }
    #planes td
    {
        font-size: 1rem;
    }
    /* ERROR no puedo resolver este tema, me pisa la alineacion a la derecha. ID me arruina la vida. */
    #planes td h4
    {
        width: 20%;
        font-size: 1.5rem;
        text-align: right;
    }
    #planes th h4
    {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px)
{
    .infoPersonal
    {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "titleExperiencia"
            "experiencia"
            "titleEducacion"
            "educacion"
            "titleConocimientos"
            "redes";
        justify-content: center;
        padding: 2vh 4vw;
        gap: 1vw;
    }
    .experienciaLaboral
    {
        height: auto;
    }
    .experienciaLaboral__item
    {
        padding: 5px;
        width: 90%;
    }
    .contactForm
    {
        background-color: #fff;
        width: 350px;
        display: grid;
        grid-template-areas:
            "tagName"
            "inputName"
            "tagMail"
            "inputMail"
            "tagCountry"
            "inputCountry"
            "tagServices"
            "inputServices"
            "tagMessage"
            "inputMessage"
            "buttonSend"
        ;

    /*     padding: 1vw 0; */
        text-align: right;
        gap: 1vw;

    }
    .contactForm label
    {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
    }
}

@media screen and (max-width: 360px)
{
    .navigation__menu li
    {
        padding: 0.2rem 0.6rem;
        font-size: 1.6rem;
    }
    .banner__info
    {
        width: 100vw;
    } 
    .banner__info h1
    {
        font-size: 2.8rem;
        margin-bottom: 0.5vh;
    }
    .banner__info h2
    {
        font-size: 3.2rem;
    }
    .titulo--1
    {
        width: 17rem;
    }
    .titulo--2
    {
        width: 20rem;
    }
    .titulo span
    {
        margin-bottom: 1rem;
    }
    .planes__titulo
    {
        font-size: 1rem;
        padding-left: 3vw;
    }
    #planes td
    {
        font-size: 0.7rem;
    }
    /* ERROR no puedo resolver este tema, me pisa la alineacion a la derecha. ID me arruina la vida. */
    #planes td h4
    {
        width: 20%;
        font-size: 1rem;
        text-align: right;
    }
    #planes th h4
    {
        font-size: 1rem;
    }
}


@media screen and (min-width: 1440px)
{
    .contactForm {
        width: 556px;
    }
}
